

.headerSection{
	background-color: #e3f2fd;
}

.breadcrumb {
	padding: 15px 10px;
	margin-bottom: 20px;
	background-color: #e9ecef;
	border-radius: 5px;
  }
  .carousel-item {
	height: 500px;
}










